<head>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.3.4/mocha.min.css">
</head>

<body>
<div id="mocha"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.5.3/mocha.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.4.1/chai.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/6.1.4/sinon.min.js"></script>

<script src="configurationReader.js"></script>
<script src="verifyWinner.js"></script>
<script src="blocks.js"></script>
<script src="userInteraction.js"></script>
<script src="matrix.js"></script>
<script src="ticTacToeGame.js"></script>

<script>

mocha.setup('bdd');

const expect = chai.expect;

describe('Matrix', function (){

    let dataStore;

    beforeEach(function(){
        dataStore = {
            cells: [[]],
            currentPlayer: 1,
            gameOver: false
        };
    })

    describe('declareGameOver', function(){
        it('should update data store with gameOver declaration', function(){
            let matrix = new Matrix();
            let initialDataStore = matrix.getDataStore();
            expect(initialDataStore.gameOver).to.be.equal(false);

            matrix.declareGameOver();

            let updateDataStore = matrix.getDataStore();
            expect(updateDataStore.gameOver).to.be.equal(true);
        })
    })
})


describe('Updating configuration', function (){

    beforeEach(function(){
        //
    })

    describe('check updating configuration', function(){
        it('should overwrite the configuration of initialization with a given one', function(){
            
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);

            let blocks = new Blocks(matrix);
            let BlocksMock = sinon.mock(blocks);

            let verifyWinner = new VerifyWinner(matrix, UserInteraction);
            let VerifyWinnerMock = sinon.mock(verifyWinner);

            let ticTacToeGame = new TicTacToeGame(matrix, verifyWinner, UserInteraction, blocks);
            
            let expectedInitialConfiguration = {
                size: 3,
                shapes: ['A', 'B', 'C'],
                players: 3
            };

            let proposedConfigurationString = '{"size": 6, "shapes": ["x","y","z","AI"], "players": 4}';

            let expectedProposedConfiguration = {
                size: 6,
                shapes: ['x', 'y', 'z','AI'],
                players: 4
            };
        
            let initialConfiguration = matrix.getTicTacToeConfigurationObject();       
            expect(initialConfiguration).to.deep.equal(expectedInitialConfiguration);

            ticTacToeGame.readConfigurationAsJson(proposedConfigurationString);

            let actualProposedConfiguration = matrix.getTicTacToeConfigurationObject();
            expect(JSON.stringify(actualProposedConfiguration)).to.deep.equal(JSON.stringify(expectedProposedConfiguration));
        })
    })
})


describe('Reading configuration', function (){

    beforeEach(function(){
        //
    })

    describe('check reading params of configuration', function(){
        it('read size of the board as integer', function(){
            let matrix = new Matrix();
            let blocks = new Blocks(matrix);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);
            let ticTacToeGame = new TicTacToeGame(matrix, verifyWinner, UserInteraction, blocks);
            
            let proposedConfigurationString = '{"size": 8, "shapes": ["x","y","z","AI"], "players": 4}';
            let initialConfiguration = matrix.getTicTacToeConfigurationObject();       

            ticTacToeGame.readConfigurationAsJson(proposedConfigurationString);
            expect(matrix.getTicTacToeSize()).to.equal(8);
        })

        it('read player count as integer', function(){
            let matrix = new Matrix();
            let blocks = new Blocks(matrix);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);
            let ticTacToeGame = new TicTacToeGame(matrix, verifyWinner, UserInteraction, blocks);
            
            let proposedConfigurationString = '{"size": 8, "shapes": ["x","y","z","AI"], "players": 4}';
            let initialConfiguration = matrix.getTicTacToeConfigurationObject();       

            ticTacToeGame.readConfigurationAsJson(proposedConfigurationString);
            expect(matrix.getTicTacToePlayerCount()).to.equal(4);
        })
    })
})

mocha.run();

</script>
</body> 