body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.xoColumn {
}

.xoBlock {
    flex: 1 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.matrixContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid #DDD;
}

.title {
}