<head>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.3.4/mocha.min.css">
</head>

<body>
<div id="mocha"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.5.3/mocha.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.4.1/chai.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/6.1.4/sinon.min.js"></script>

<script src="verifyWinner.js"></script>
<script src="userInteraction.js"></script>
<script src="blocks.js"></script>
<script src="matrix.js"></script>
<script src="ticTacToeGame.js"></script>

<script>

mocha.setup('bdd');

const expect = chai.expect;

describe('VerifyWinner - Row', function (){

    let dataStore;

    beforeEach(function(){
        dataStore = {
            cells: [["AI", "AI", "AI"], 
                    ["",   "",   ""], 
                    ["",   "",   ""]],
            currentPlayer: 1,
            gameOver: false
        };
    })

    describe('check winning conditions', function(){
        it('should detect when a winning row scenario is given', function(){
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);
            let BlocksMock = sinon.mock(Blocks);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);

            MatrixMock.expects('getDataStore').exactly(6).returns(dataStore);

            expect(verifyWinner.anyWinningRow()).to.be.equal(true);

            MatrixMock.restore();
    		BlocksMock.restore();
        })
    })

     describe('check non-winning conditions', function(){
        it('should not pass when not a winning scenario given for the condition', function(){
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);
            let BlocksMock = sinon.mock(Blocks);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);

            MatrixMock.expects('getDataStore').exactly(6).returns(dataStore);

            expect(verifyWinner.anyWinningColumn()).to.be.equal(false);
            expect(verifyWinner.anyWinningDiagonal()).to.be.equal(false);

            MatrixMock.restore();
    		BlocksMock.restore();
        })
    })
})

describe('VerifyWinner - Column', function (){

    let dataStore;

    beforeEach(function(){
        dataStore = {
            cells: [["", "AI", ""], 
                    ["", "AI", ""], 
                    ["", "AI", ""]],
            currentPlayer: 1,
            gameOver: false
        };
    })

    describe('check winning conditions', function(){
        it('should detect when a winning column scenario is given', function(){
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);
            let BlocksMock = sinon.mock(Blocks);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);

            MatrixMock.expects('getDataStore').exactly(6).returns(dataStore);

            expect(verifyWinner.anyWinningColumn()).to.be.equal(true);

            MatrixMock.restore();
            BlocksMock.restore();
        })
    })

    describe('check non-winning conditions', function(){
        it('should not pass when not a winning scenario given for the condition', function(){
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);
            let BlocksMock = sinon.mock(Blocks);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);

            MatrixMock.expects('getDataStore').exactly(6).returns(dataStore);

            expect(verifyWinner.anyWinningRow()).to.be.equal(false);
            expect(verifyWinner.anyWinningDiagonal()).to.be.equal(false);

            MatrixMock.restore();
            BlocksMock.restore();
        })
    })
})

describe('VerifyWinner - Diagonal', function (){

    let dataStore;

    beforeEach(function(){
        dataStore = {
            cells: [["",   "",   "AI"], 
                    ["",   "AI", ""], 
                    ["AI", "",   ""]],
            currentPlayer: 1,
            gameOver: false
        };
    })

    describe('check winning conditions', function(){
        it('should detect when a winning diagonal scenario is given', function(){
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);
            let BlocksMock = sinon.mock(Blocks);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);

            MatrixMock.expects('getDataStore').exactly(7).returns(dataStore);

            expect(verifyWinner.anyWinningDiagonal()).to.be.equal(true);

            MatrixMock.restore();
            BlocksMock.restore();
        })
    })

    describe('check non-winning conditions', function(){
        it('should not pass when not a winning scenario given for the condition', function(){
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);
            let BlocksMock = sinon.mock(Blocks);
            let verifyWinner = new VerifyWinner(matrix, UserInteraction);

            MatrixMock.expects('getDataStore').exactly(6).returns(dataStore);

            expect(verifyWinner.anyWinningRow()).to.be.equal(false);
            expect(verifyWinner.anyWinningColumn()).to.be.equal(false);

            MatrixMock.restore();
            BlocksMock.restore();
        })
    })
})

mocha.run();

</script>
</body> 