<head>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.3.4/mocha.min.css">
</head>

<body>
<div id="mocha"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.5.3/mocha.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.4.1/chai.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/6.1.4/sinon.min.js"></script>

<script src="../configurationReader.js"></script>
<script src="../verifyWinner.js"></script>
<script src="../blocks.js"></script>
<script src="../userInteraction.js"></script>
<script src="../matrix.js"></script>
<script src="../ticTacToeGame.js"></script>

<script>
mocha.setup('bdd');
const expect = chai.expect;

describe('Game', function (){

    beforeEach(function(){
        //
    })

    describe('when is being played', function(){
        it('should be initialized correctly', async function(){

            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);

            let blocks = new Blocks(matrix);
            let BlocksMock = sinon.mock(blocks);

            let verifyWinner = new VerifyWinner(matrix, UserInteraction);
            let VerifyWinnerMock = sinon.mock(verifyWinner);
            
            let ticTacToeGame = new TicTacToeGame(matrix, verifyWinner, UserInteraction, blocks);

            let mockedConfig = {
                "size": 3,
                "shapes": ["You", "Him", "AI"],
                "players": 3
            };

            let expectedDataStore = {
                cells: [["", "", ""], 
                        ["", "", ""], 
                        ["", "", ""]]
            }
            
            MatrixMock.expects('getTicTacToeConfigurationObject').twice().returns(mockedConfig);
            BlocksMock.expects('createMatrixContainer').once().returns(true);
            BlocksMock.expects('addMatrixContainerToPage').once().returns(true);
            BlocksMock.expects('updateNumberOfPlayers').once().returns(true);

            UserInteraction.welcomeUser();
            ticTacToeGame.resetTheBoard();

            let actualInitializedDataStore = matrix.getDataStore();

            expect(actualInitializedDataStore.cells.length).to.equal(expectedDataStore.cells.length);
        })
    })

    describe('playing a winning game for AI', function(){
        it('should play a game and declare win', async function(){
           
            let matrix = new Matrix();
            let MatrixMock = sinon.mock(matrix);

            let blocks = new Blocks(matrix);
            let BlocksMock = sinon.mock(blocks);

            let verifyWinner = new VerifyWinner(matrix, UserInteraction);
            let VerifyWinnerMock = sinon.mock(verifyWinner);
            
            let ticTacToeGame = new TicTacToeGame(matrix, verifyWinner, UserInteraction, blocks);

            let mockedConfig = {
                "size": 3,
                "shapes": ["You", "Him", "AI"],
                "players": 3
            };

            let expectedDataStore = {
                cells: [["", "", ""], 
                        ["", "", ""], 
                        ["", "", ""]]
            }
            
            MatrixMock.expects('getTicTacToeConfigurationObject').twice().returns(mockedConfig);
            BlocksMock.expects('createMatrixContainer').once().returns(true);
            BlocksMock.expects('addMatrixContainerToPage').once().returns(true);
            BlocksMock.expects('updateNumberOfPlayers').once().returns(true);

            UserInteraction.welcomeUser();
            ticTacToeGame.resetTheBoard();

            ticTacToeGame.play(3,1);
            ticTacToeGame.play(3,2);
            ticTacToeGame.play(2,2);
            ticTacToeGame.play(2,1);
            ticTacToeGame.play(3,3);
            ticTacToeGame.play(2,3);

            expect(matrix.isGameOver()).to.be.equal(true);
        })
    })

    afterEach(function() {
        let BlocksMock = sinon.mock(Blocks);
        BlocksMock.restore();
    });
})

mocha.run();

</script>
</body> 